<div id="content">
  <h1><%= @programme.title %></h1>
  <p><%= @programme.summary %></p>
  <audio controls src="https://securegate.iplayer.bbc.co.uk/mediaselector/5/redir/vpid/<%= @programme.ver_pid %>/media/iplayer_stb_uk_stream_aac_concrete/proto/https"></audio>
</div>
