body {
    background-color: #fff; /* Background color */
    color: #222;            /* Foreground color used for text */
    font-family: Helvetica; 
    font-size: 14px;
    margin: 0;              /* Amount of negative space around the outside of the body */
    padding: 0;             /* Amount of negative space around the inside of the body */
}

.programme a, .feed a {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    display: block;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
}

.programme .title {
    font-size: 17px;
    font-weight: bold;
    color: #333;
}

.programme .date {
    font-size: 14px;
    color: #777;
}

.programme .details {
    font-size: 14px;
    color: #777;
}

.feed .name {
    font-size: 17px;
    font-weight: bold;
    color: #333;
}

.feed .count {
    font-size: 14px;
    color: #777;
}

#content, #header, #footer {
    padding: 10px;
}

#player {
    width: 200px;
    margin: auto;
    padding: 30px;
}
